
    <body>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <div class="container">
            <img src="./../../assets/images/logo.svg" id="logo" alt="" style="width: 13em">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/login" class="nav-link" style="color: white">Login or Register</a>
                    </li>
                    <li class="nav-item">

                    </li>
                    <li class="nav-item">
                    </li>
                </ul>
            </div>
        </div>
        </nav>


        <div class="jumbotron" style="">
            <div class="container" style="text-align: left; color: ">
                <div class="col-sm-6">
                    <h3 class="" style="margin-top: 70px">Designed for developers to keep track of useful information on the web because bookmarking is not enough. </h3>
                    <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
                    <hr class="my-4" style="color: white">
                    <p><i>"Life is really simple, but we insist on making it complicated"</i></p>
                    <p class="lead">
                      <a class="btn btn-primary btn-lg" href="/login" role="button">Sign Up Today!</a>
                    </p>
                </div>
                </div>

        </div>


        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing" style="color: white">

          <!-- Three columns of text below the carousel -->


          <!-- START THE FEATURETTES -->

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7" style="color: white; text-align: center">
              <h2 class="featurette-heading">What is codepost?<span class="text-muted"></span></h2>
              <p class="" style="font-weight: 1000; letter-spacing: 0.5px; text-align: center; text-justify: inter-word;">Have you ever run into the trouble of bookmarking too many websites and not being able to find anything? Have no fear, codepocket is here! Designed with state-of-the-art technology to keep track of all your bookmarks and assist you in organizing them.  Bookmarking websites has never been so easier. Simply sign-up and start bookmarking immediately. Streamlined for developers to save useful blogs, articles, and videos for later use or to share with others. </p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto circular-square" data-src="holder.js/500x500/auto" alt="500x500" style="width: 400px; height: 400px;" src="./../../assets/images/pic2.png" data-holder-rendered="true">
            </div>
          </div>

          <hr class="featurette-divider">



          <!-- /END THE FEATURETTES -->


          <!-- FOOTER -->
          <footer>
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>© Copyright 2017. Noel Danh</p>
          </footer>

        </div><!-- /.container -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="../../../../assets/js/vendor/popper.min.js"></script>
        <script src="../../../../dist/js/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="../../../../assets/js/vendor/holder.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>


    <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text></svg></body>
